<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sprytechies.skillsregister">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="sprytechies.skillregister.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/skiiii"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="sprytechies.skillregister.activities.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sprytechies.skillregister.activities.LanucherActivity"
            android:label="@string/title_activity_lanucher"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.FirstLaunchingTutorial"
            android:noHistory="true" />
        <activity android:name="sprytechies.skillregister.activities.PersonalData" />
        <activity
            android:name="sprytechies.skillregister.activities.Education"
            android:noHistory="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="sprytechies.skillregister.activities.SignIn"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            />
        <activity
            android:name="sprytechies.skillregister.activities.Signup"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />




        <activity
            android:name="sprytechies.skillregister.activities.WorkExperience"
            android:label="@string/title_activity_work_experience"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.AddWorkExp"
            android:label="@string/title_activity_add_work_exp"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Projects"
            android:label="@string/title_activity_projects"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="sprytechies.skillregister.activities.AddProject"
            android:label="@string/title_activity_add_project"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Skills"
            android:label="@string/title_activity_skills"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Objective"
            android:label="@string/title_activity_objective"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Launguages"
            android:label="@string/title_activity_launguages"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewProfile"
            android:label="@string/title_activity_view_profile"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewandAddeducation"
            android:label="@string/title_activity_viewand_addeducation"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.TopicActivity"
            android:label="@string/title_activity_topic"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.fragments.HelpFragment"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Certificates"
            android:label="@string/title_activity_certificates"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.Contacts"
            android:label="@string/title_activity_contacts"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:noHistory="true" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewandAddContact"
            android:label="@string/title_activity_viewand_add_contact" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewandEditCertificate"
            android:label="@string/title_activity_viewand_edit_certificate" />

        <service
            android:name="sprytechies.skillregister.services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="sprytechies.skillregister.services.Updateservice"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="sprytechies.skillregister.activities.ViewAndAddVolunteers"
            android:label="@string/title_activity_view_and_add_volunteers" />
        <activity
            android:name="sprytechies.skillregister.activities.Volunteers"
            android:label="@string/title_activity_volunteers" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewAndAddAwards"
            android:label="@string/title_activity_view_and_add_awards" />
        <activity
            android:name="sprytechies.skillregister.activities.Awards"
            android:label="@string/title_activity_awards" />
        <activity
            android:name="sprytechies.skillregister.activities.ViewAndAddPublication"
            android:label="@string/title_activity_view_and_add_publication" />
        <activity
            android:name="sprytechies.skillregister.activities.Publications"
            android:label="@string/title_activity_publications"/>
        <activity
            android:name="sprytechies.skillregister.activities.Addskills"/>
    </application>

</manifest>